.weather-page {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-image: url("../assets/weatherIcon/background-weather.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    align-items: flex-end;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.count {
    padding-bottom: 800px;
}

.search {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 91px;
    padding-bottom: 30px;
}

.search input {
    border: 0;
    outline: 0;
    background: #e2e7ef;
    color: rgba(0, 0, 0, 73);
    width: 400px;
    height: 53px;
    margin: 20px;
    font-size: 16px;
    border-radius: 50px;
    padding-left: 40px;
    font-family: "poppins", sans-serif;
}

.search input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #9e9e9e;
    font-family: "Poppins", sans-serif;
}

.search button {
    border: 0;
    outline: 0;
    background: #003e65;
    color: #e2e7ef;
    border-radius: 50%;
    width: 53px;
    height: 53px;
    left: 942px;
    margin-left: 25px;
    top: 186px;
    cursor: pointer;
}

.search button:hover {
    background: #045487;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.weather-icon {
    height: 140px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
    margin: 5px;
}

/* Weather Page Card*/
.weather-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    height: auto;
    padding: 25px;
    margin: auto;
    text-align: center;
    padding: 20px 40px;
    background: rgba(147, 205, 241, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

/* Styling for error page */
  .error {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .error p {
    display: none;
    text-align: center;
    color: #FA8305;
    font-weight: 600;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    margin: 50px;
  }

.current-weather-icon {
    display: flex;
    flex-direction: column;
    width: 216px;
    height: auto;
    margin: auto;
    padding-left: 20px;
    margin-bottom: 40px;
}

.current-weather-icon img {
    display: flex;
    width: 150px;
    height: auto;
    text-align: center;
}

.current-weather-icon p {
    display: flex;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.73);
    padding: 10px;
}

.time {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.time .utc-hour {
    text-align: left;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #003e65;
}

.time .date {
    text-align: left;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #003e65;
}

.temperature {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: 10px;
}

.temperature h3 {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    padding-bottom: 0;
    text-align: center;
    color: #003e65;
}

.temperature p {
    display: flex;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.73);
    padding-top: 20px;
}

.location {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

.location p {
    text-align: center;
    font-size: 16px;
    color: #003e65;
    padding-left: 5px;
    font-weight: 600;
}

.humidity {
    width: 230px;
    height: 150px;
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    background: rgba(65, 116, 148, 0.53);
    border-radius: 20px;
}

.humidity h5 {
    padding: 10px;
    text-align: left;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
}

.humidity img {
    float: left;
    margin: 10px;
    margin-top: 20px;
}

.humidity p {
    float: right;
    margin-top: 50px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
}

.pressure {
    width: 230px;
    height: 150px;
    margin-left: 10px;
    margin-top: 20px;
    padding: 20px;
    background: rgba(65, 116, 148, 0.53);
    border-radius: 20px;
}

.pressure h5 {
    padding: 10px;
    text-align: left;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
}

.pressure img {
    float: left;
    margin-top: 20px;
}

.pressure p {
    float: right;
    margin-top: 50px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
}

.wind {
    width: 230px;
    height: 150px;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    background: rgba(65, 116, 148, 0.53);
    border-radius: 20px;
}

.wind h5 {
    padding: 10px;
    text-align: left;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
}

.wind img {
    margin-top: 20px;
}

.wind p {
    float: right;
    margin-top: 50px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
}

.visibility {
    width: 230px;
    height: 150px;
    margin-left: 10px;
    margin-top: 20px;
    padding: 20px;
    background: rgba(65, 116, 148, 0.53);
    border-radius: 20px;
}

.visibility h5 {
    padding: 10px;
    text-align: left;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
}

.visibility img {
    margin-top: 20px;
}

.visibility p {
    float: right;
    margin-top: 50px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .weather-page {
        padding-bottom: 0;

    }

    .mini-img {
        width: 300px;
        height: 100px;
    }

    .search {
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 10px;
    }

    .search input {
        width: 100%;
        margin: 10px 0;
    }

    .weather-card {
        flex-direction: column;
        width: 90%;
    }

    .current-weather-icon {
        margin-bottom: 20px;
    }

    .current-weather-icon img {
        width: 100px;
        margin-left: 0;
        text-align: center;

    }

    .current-weather-icon p {
        padding: 5px;
        font-size: 14px;
        text-align: center;
    }

    .count {
        padding-bottom: 1600px;
    }

    .time {
        padding-left: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .time p {
        font-size: 14px;
    }

    .time .utc-hour {
        text-align: center;
    }

    .time .date {
        text-align: center;
    }

    .temperature h3 {
        font-size: 48px;
    }

    .temperature p {
        font-size: 14px;
    }

    .location {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .humidity,
    .pressure,
    .wind,
    .visibility {
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .humidity h5,
    .pressure h5,
    .wind h5,
    .visibility h5 {
        font-size: 12px;
    }

    .humidity img,
    .pressure img,
    .wind img,
    .visibility img {
        margin: 5px;
    }

    .humidity p,
    .pressure p,
    .wind p,
    .visibility p {
        font-size: 18px;
    }

    footer {
        display: relative;
    }
}